@import url('https://fonts.googleapis.com/css2?family=Bpmf+Huninn&display=swap');
*::after, *::before,* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    border: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #f3f2ed;
    color: #343434;
    font-family: "Bpmf Huninn", sans-serif;
    font-weight: 400;
    line-height: 1.6;
}

/* ============= Contanier Style ============= */
.container {
    background-color: #c0b5b3;
    box-shadow: 0 0 20px rbga(0, 0, 0, 0.1);
    border-radius: 15px;
    margin: 40px auto;
    max-width: 800px;
    padding: 20px;
}

.container h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #2c0001;
}

.container .search-container {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.container .search-container #searchInput {
    padding: 12px 15px;
    border-radius: 5px 0 0 5px;
    border: 2px solid #45171b;
    color: #343434;
    font-size: 16px;
    flex: 1;
}

.container .search-container #searchBtn {
    padding: 13.8px 20px;
    background-color: #45171b;
    color: #e6ddd0;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 16px;
    transition: .3s ease;
}

.container .search-container #searchBtn:hover {
    background-color: #2c0001;
}

/* Food Card Style */
.food-card {
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 20px;
    padding: 20px;
    background: #706b68;
    color: #fff;
    border-radius: 8px;
    border: 2px solid #490206;
}

.food-card .food-img {
    width: 100%;
    border-radius: 5px;
    margin-top: 9px;
}

.food-card .food-details h2 {
    color: #490206;
}
.food-card .details-item .detail-label {
    color: #100e11;
}

/* Error Message style */
.error-message {
    color: #741717;
}

/* ============= Media Quary ============= */
@media (max-width: 450px) {
    .food-card {
        grid-template-columns: 150px 1fr;
        gap: 10px;
    }
}


